<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barang</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <%- include('./layout/header.ejs') %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img style="height:100% ;" src="<%= product.url %>" alt="Gambar Produk" class="img-fluid">
      </div>
      <div class="col-md-6">
        <input type="hidden" id="productId" name="id_poduct" value="<%= product.id%>">
        <input type="hidden" id="price" name="price" value="<%= product.price%>">
        <input type="hidden" id="url" name="url" value="<%= product.url%>">
        <h2><%= product.name%></h2>
        <p class="text-muted">Harga: Rp<%= product.price%></p>
        <p><%= product.description %></p>
        <button type="button" id="keranjang" class="btn btn-primary">Tambahkan ke Keranjang</button>
        <input type="number" id="number" value=1 min=1 max=10>


      </div>
    </div>
    <div class="mb-3">
        <h4>Komentar</h4>


        <div class="media">

          <div class="media-body d-flex">
            <img style="width: 30px;height: auto;" src="<%= user.avatar%>" class="mr-3" alt="User Avatar">
            <h5 class="mt-0"><%= user.username %></h5>
          </div>
          
        </div>

      </div>
  </div>
  <%- include('./layout/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    

    const keranjang = document.getElementById('keranjang')
    keranjang.addEventListener('click', () => {
      const data = {
        id_product: document.getElementById('productId').value,
        url: document.getElementById('url').value,
        qty:document.getElementById('number').value,
        total:document.getElementById('number').value * document.getElementById('price').value
      }
      axios.post('/api/cart', data)
        .then((result) => {
          alert('Produk berhasil dimasukkan ke dalam keranjang')
        })
        .catch((error) => {
          console.log(error)
        })
    })
  </script>
</body>

</html>